body {
  background: url("./images/bg-1.png") no-repeat;
  background-color: #070709;
  color: white;
}

.title {
  color: white;
  padding: 6px;
  text-align: center;
}

.box {
  margin: 0 30px;
  margin-top: 50px;
}

.panel {
  margin-top: 2em;
}

.panel-heading {
  xbackground-image: linear-gradient(to left,#38052F, #070709);
  background-color: black;
  color: white;
}

.address-box {
  padding: 3em;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 170px;
}

.box .title {
  color: #333;
}

.navbar {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
}

.navbar-menu {
  display: block !important;
  margin-top: 7px;
  background-color: unset !important;
}

.navbar .navbar-item {
  color: white;
}

.connect-wallet span {
  color: #E10859;
}

.connect-wallet:hover {
  background-color: #e1e1e1 !important;
}

.container.main-content {
  max-width: 1000px !important;
}

/* .faucet-hero-body {
  margin-top: 100px;
} */

.withdraw-error {
  color: red;
}

.withdraw-success {
  color: green;
}

.columns {
  flex-direction: column;
  justify-content: center;
}
.block-game-number {
  justify-content: center !important;
}

.btn-rock, .btn-paper, .btn-scissors, .btn-waiting, .btn-commit {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-rock {
  background: url("./images/rock.png") no-repeat;
  background-size: cover;
}
.btn-paper {
  background: url("./images/paper.png") no-repeat;
  background-size: cover;
}
.btn-scissors {
  background: url("./images/scissors.png") no-repeat;
  background-size: cover;
}
.btn-commit {
  font-size: 48px;
  font-weight: bold;
}
.game-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.panel-block__res {
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    text-align: center;
    margin-top: 0;
  }
  .navbar-brand {
    justify-content: center;
  }
}

.copy {
  background: url("./images/copy.png") no-repeat;
  background-size: cover;
  display: block;
  width: 14px;
  height: 14px;
}

/* preloader */
.clock-loader {
  --clock-color: #485fc7;
  --clock-width: 2rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid var(--clock-color);
  border-radius: 50%;
  margin: 0 auto;
}
.clock-loader::before, .clock-loader::after {
  position: absolute;
  content: "";
  top: calc(var(--clock-radius) * 0.25);
  width: var(--clock-thickness);
  background: var(--clock-color);
  border-radius: 10px;
  transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
  animation: spin infinite linear;
}
.clock-loader::before {
  height: var(--clock-minute-length);
  animation-duration: 2s;
}
.clock-loader::after {
  top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
  height: var(--clock-hour-length);
  animation-duration: 15s;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
/* preloader */